
////////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%; //Occupy 40% of header an no grow or shrink

    // This item is also a flex container to center the search button
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px; // High value for round borders.
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    // Make the background color of the button the same as the search buton on focus
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch; // Fill the entire height of the header

    display: flex; // Turn it into flex container
    align-items: center;

    // Select all the direct children
    // icon_box and  user
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center; // aligns along the cross axis vertically
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative; // set parent to relative for notification absolute
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100px;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // Use flexbox to center text
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%; // Make image round
        margin-right: 1rem;
    }
}

////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style-type: none;
    margin-top: 3.5rem;

    &__item {
        position: relative; // Also needed for the before pseudo element

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: ''; //Needed to show up in browser
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0); //Invisible at first

        // First transform and after that the width
        transition: transform .2s,
                    width .4s cubic-bezier(1, 0, 0 ,1) .2s,
                    background-color .1s; // For the :active state
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1); // Grow and make visible on hover
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-ligth);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative; // Specified for z-index
        z-index: 10;

        // Align our link text and icons vertically in the center
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; // Use color of the parent element, also changes with event like hover
    }
}

////////////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

////////////////////////////////////////////
// GALLERY

.gallery {
    display: flex;

    &__photo {
        width: 100%; // Always set widht of image for responsiveness
        display: block; // Avoid small space under image
    }
}

////////////////////////////////////////////
// OVERVIEW

.overview {
    display: flex;
    align-items: center; // vertically align across cross axis
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        display: flex; // less spacing and no whitespace underneath
        margin-right: auto; // let element only occupy space it needs and margin takes up rest of space
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch; // Stretch element from top to bottom

        display: flex;
        flex-direction: column; // Dont show items side by side
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }

    &__rating-count {

    }
}

////////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit; // More modular
    border-bottom: 1px solid currentColor; // Give border same color as text (also on hover)
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }


}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////////////////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

////////////////////////////////////////////
// LIST
.list {
    list-style-type: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%; // Two items side by side
        margin-bottom: .7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        //Older browsers
        // background-image: url(../img/chevron-thin-right.svg); // Path from style.css
        // background-size: cover;

        // Newer browsers - masks => Way to give svg icon color via CSS
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg); // Path from style.css
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg); // Path from style.css
        mask-size: cover;
    }
}

////////////////////////////////////////////
// RECOMMEND
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto; //calculate margin to push friend images to the right.
    }

    &__friend {

    }

    &__photo {
        box-sizing: content-box; // Back to default so images don't shrink because of border
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}
